* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 90%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon-container {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

a {
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  color: whitesmoke;
  /* background-color: blue; */
}

a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 0;
  background-color: royalblue;
  z-index: -1;
  transition: height 0.5s ease-in-out;
}

a:hover::before {
  height: 100px;
}
